* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  color: var(main-white);
  font-family: "Poppins", "Inter", sans-serif !important;
}

:root {
  --main-white: #f0f0f0;
  --main-red: #c72c40;
  --main-blue: #45567d;
  --main-gray: #353b43;
}
:root {
  scroll-behavior: smooth;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: "Poppins", "Inter", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  color: inherit;
}
/* NavBar */
.nav-items {
  color: var(--main-gray);
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 20px;
}

.nav-w {
  color: var(--main-white);
}

.active {
  background-color: #f45f35;
}

.nav-items:hover {
  color: #ababab !important;
}

.buttons-nav {
  display: none !important;
  text-align: center;
  margin: auto;
}
.contacts {
  display: none;
}
.project-btn {
  display: none !important;
  padding: 10px 10px;
  color: var(--main-white);
  border: none;
  width: 100%;
  background-color: #f45f35;
}

@media screen and (max-width: 991px) {
  .nav-toggler {
    text-align: center;
    background-color: rgba(189, 173, 173, 1);
    padding-top: 3rem;
    margin-top: 2rem;
  }
  .contacts {
    display: block;
  }
  .buttons-nav {
    display: block !important;
  }
  .border {
    border: 1px solid white!;
  }

  .project-btn {
    display: inline-block !important;
  }
  .container {
    padding: 0;
    margin: 0;
  }
}
.icon {
  font-size: 40px !important;
  font-family: "Poppins", "Inter", sans-serif;
}
/* hero home */
.images {
  height: 100vh;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  filter: brightness(70%) !important;
}

.background {
  width: 100%;
  position: absolute !important;
  z-index: 2;
}

.cont {
  padding: 0 !important;
  position: relative;
  z-index: 1;
}
/* Hero text */
/* #0C1017 */
.hero-text {
  position: absolute;
  top: 30%;
  left: 25%;
  z-index: 2;
  transform: translate(-10%, 30%);
}
.text-hero-5 {
  position: relative;
  color: var(--main-white);
  font-size: 1.2rem;
}

.text-hero-1 {
  font-size: 4rem;
  color: var(--main-white);
  font-weight: 500;
  line-height: 1.3;
}
.music {
  cursor: pointer;
  color: var(--main-red);
  transition: 0.6s all;
}
.music:hover {
  color: red;
}
.span-music {
  color: #f0f0f0;
  padding: 5px;
  font-size: 1.2rem;
  transition: 0.6s all;
}
.span-music:hover {
  color: #45567d;
}

@media screen and (max-width: 1300px) {
  .hero-text {
    top: 15%;
  }
}
@media screen and (max-width: 1000px) {
  .hero-text {
    top: 20%;
  }
  .text-hero-1 {
    font-size: 2.2rem !important;
  }
}

@media screen and (max-width: 660px) {
  .hero-text {
    top: 15%;
  }
  .text-hero-1 {
    font-size: 1.5rem !important;
  }
  .text-hero-5 {
    font-size: 2rem;
  }
}
.home {
  position: relative;
}
/* us */

.text-worker {
  color: white;
  display: grid;
  justify-content: center !important;
}
.text-worker span {
  font-size: 1.4rem;
  font-family: italic;
  margin: 0 !important;

  font-weight: 400;
}

.text-worker h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.5;
  margin: 0 !important;
}
.text-worker h5 {
  margin: 0 !important;
  font-size: 1.4rem;
  font-family: "Poppins", "Inter", sans-serif;
}

.img-worker {
  justify-content: center;
}
.img-worker img {
  max-width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.btn-about {
  padding: 20px 30px !important;
  margin: 10px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #f0f0f0;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-about:after {
  content: ">>";
  position: absolute;
  opacity: 0;
  top: 22px;
  right: -22px;
  transition: 0.5s;
}

.btn-about:hover {
  padding-right: 4px;
  padding-left: 8px;
  border: 2px solid var(--main-red);
  color: var(--main-red);
}

.btn-about:hover:after {
  opacity: 1;
  right: 10px;
}
/* next */
.card-1 {
  border: 1px solid #fff;
  opacity: 0.3;
  transition: 0.6s all;
  cursor: pointer;
  position: relative;
}

.card-1:hover {
  opacity: 1;
}

.card-img-1 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 200%);
  color: #f0f0f0;
}
.card-text h1 {
  font-size: 1.2rem;
}

/* 222 */
.card-2 {
  border: 1px solid #fff;
  opacity: 0.3;
  transition: 0.6s all;
  cursor: pointer;
  position: relative;
}

.card-2:hover {
  opacity: 1;
}

.card-img-2 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}
.card-text-2 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 200%);
  color: #f0f0f0;
}
.card-text-2 h1 {
  font-size: 1.2rem;
}

/* 3 */
.card-3 {
  border: 1px solid #fff;
  opacity: 0.3;
  transition: 0.6s all;
  cursor: pointer;
  position: relative;
}

.card-3:hover {
  opacity: 1;
}

.card-img-3 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}
.card-text-3 {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 200%);
  color: #f0f0f0;
}
.card-text-3 h1 {
  font-size: 1.2rem;
}

/* 4 */
.card-4 {
  border: 1px solid #fff;
  opacity: 0.3;
  transition: 0.6s all;
  cursor: pointer;
  position: relative;
}

.card-4:hover {
  opacity: 1;
}

.card-img-4 {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: relative;
}
.card-text-4 {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 200%);
  color: #f0f0f0;
}

.card-text-4 h1 {
  font-size: 1.2rem;
}

/* button */
.card-btn a {
  text-decoration: none;
  font-size: 12px;
}
.card-btn {
  padding: 4px 14px;
  border: none;
  font-size: 15px;
  background-color: #ffffff;
  color: #000408;
}
/* selected projects */
.btn-card a {
  text-decoration: none;
  color: var(--main-gray);
}
.link-all a {
  text-decoration: none;
  font-size: 20px;
  color: var(--main-gray);
  transition: 0.5s;
}

.link-all a:hover {
  color: var(--main-red);
}
/* disc */
.bg-disc {
  background-color: #000408e8;
}

/* footer */
.footer-texts a {
  text-decoration: none;
  color: #888888;
}

@media screen and (max-width: 600px) {
  .footer-media {
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
/* Page Services */
.section-services {
  background-color: #f5f5f6;
}

.services {
  position: relative;
  z-index: 1;
}

.services img {
  position: relative;
  height: 60vh;
  filter: brightness(70%);
  object-fit: cover;
  width: 100%;
  z-index: -1;
}
.text-services-1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-60%, 50%);
  z-index: 2;
}
.text-services-1 h1 {
  color: var(--main-white);
  font-size: 4rem;
  font-weight: 600;
}
/* cards */
.s-card-1 img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
/* Projects */

.projects {
  position: relative;
  z-index: 1;
}

.projects img {
  position: relative;
  height: 60vh;
  filter: brightness(70%);
  object-fit: cover;
  width: 100%;
  z-index: -1;
}
.text-projects-1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-60%, 50%);
  z-index: 2;
}
.text-projects-1 h1 {
  color: var(--main-white);
  font-size: 4rem;
  font-weight: 600;
}
/* all projects */

.my-items {
  color: #000408;
  font-size: 1.5rem;
  cursor: pointer;
}
.tab-1 {
  border-radius: 5px;
}
.tab-1:hover {
  background-color: #353b43;
}

.tab-2 {
  border-radius: 5px;
}
.tab-2:hover {
  background-color: #353b43;
}
.tab-3 {
  border-radius: 5px;
}
.tab-3:hover {
  background-color: #353b43;
}
.tab-4 {
  border-radius: 5px;
}
.tab-4:hover {
  background-color: #353b43;
}

.hide {
  display: none;
}
.show {
  display: block;
}
/* ABOUT */
.about {
  position: relative;
  z-index: 1;
}

.about img {
  position: relative;
  height: 60vh;
  filter: brightness(70%);
  object-fit: cover;
  width: 100%;
  z-index: -1;
}
.text-about-1 {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-60%, 50%);
  z-index: 2;
}
.text-about-1 h1 {
  color: var(--main-white);
  font-size: 4rem;
  font-weight: 600;
}
.people {
  font-size: 2rem;
  color: var(--main-gray);
  font-weight: 400;
}

.people h5 {
  font-size: 2rem;
  color: var(--main-gray);
  font-weight: 400;
}
.people-h4 {
  font-size: 1rem;
  font-weight: italic;
}
/* Contact */
.about {
  position: relative;
  z-index: 1;
}

.about img {
  position: relative;
  height: 60vh;
  filter: brightness(70%);
  object-fit: cover;
  width: 100%;
  z-index: -1;
}
.text-about-text {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-60%, 50%);
  z-index: 2;
}
.text-about-text h1 {
  color: var(--main-white);
  font-size: 3rem;
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .text-about-text {
    top: 0;
  }

  .text-about-text h1 {
    color: var(--main-white);
    font-size: 3rem !important;
    font-weight: 600;
  }
}
@media screen and (max-width: 760px) {
  .text-about-text {
    top: 15%;
  }

  .text-about-text h1 {
    color: var(--main-white);
    font-size: 2rem !important;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  .text-about-text {
    top: 35%;
  }

  .text-about-text h1 {
    color: var(--main-white);
    font-size: 1rem !important;
    font-weight: 600;
  }
}
/* last */
.london img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
}
.contact-links {
  text-decoration: none;
  color: var(--main-blue);
  margin-top: 20px !important;
  font-size: 1.2rem;
  transition: 0.6s;
}

.contact-links:hover {
  color: var(--main-red);
}
